body{
    overflow: hidden;
}
.bg-light-m{
    background: linear-gradient(to right, var(--JungleGreen), var(--SandyBrown));
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
}
.navbar-brand{
	font-family: 'Squada One', cursive;
    font-size: 1.5rem;
}
.search{
    max-width: 100px;
    padding: 12px 10px;
}
.profile-image{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 1rem ;
}
.mini-profile-image{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.first {
    position: relative;
  }
.second {
    position: absolute;
    right: 20px;
}
.other{
    position: absolute;
    right: 35px;
}
.group-name{
    position: absolute;
    left: 5px;
}
hr{
    padding: 0;
    margin: 0;
}
.profile-details{
    overflow: hidden;
}
.card{
    background-color: var(--white);
}
.card-title{
    color: var(--VlueDianne);
    white-space: nowrap;
    overflow: hidden;
}
.card-text{
    white-space: nowrap;
    overflow: hidden;
    max-width: 175px;
    text-overflow: ellipsis;
    margin-bottom: 2px;
}
.offcanvas-header{
    padding: 0 1rem;
}
.bar{
    width: 100%;
    margin: 10px;
}
.bar span{
    padding: 10px;
} 
.btn-close ,.text-reset{
    padding: 1rem;
    font-size: 20px;
}
.offcanvas-title{
    color: var(--Black);
}
.me-2,input{
    background: space;
    color:var(--Black);
}
.btn-close {
    background: url('../app_image/icons8-close-96.png');
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 24px;
    min-height: 24px;
}
.contact{
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}
.overflow-scroll{
    max-height: calc(100vh - 50px );
}
.litle{
    width: 55px;
    height: 55px;
}
.messeger{
    min-height: calc(100vh - 185px);
    max-height: calc(100vh - 185px);
}
.message-content{
    min-height: calc(100vh - 250px);
    max-height: calc(100vh - 250px);
    overflow-y: scroll;
}
.personal-detail-box{
    max-width: 220px; 
    text-overflow: ellipsis;
}
.send{
    background-color: var(--VlueDianne);
    border-radius: 25px;
}
.get{
    background-color: var(--SandyBrown);
    border-radius: 25px;
}
.row.right-panel-active {
	transform: translateY(0%);
	animation: 2s;
}
.row{
	transform: translateY(0);
}

a,a:active, a:link,:visited,a:hover{
    color: unset;
    text-decoration: none;
}
.contact-user,.searched-,#send-text-container{
    display: none;
}
.active{
    display: block;
}
#sendForm{
    display: none;
}
.user-active{
    border: 3px solid var(--SandyBrown);
    padding: 2px;
}
.big{
    min-width: 80px;
    margin-right: 10px;
}
.videoCall,.calling,.incoming-call{
    z-index: 9999;
}
.calling-box{
    display: flex;
    width: 50%;
    height: 15vh;
    position: absolute;
    top: 42.5%;
    left: 25%;
    border-radius: 0.25rem;
    overflow: hidden;
    min-width: 320px;
}
.calling{
    opacity: 70%;
    word-wrap: break-word;
    background-color: var(--VlueDianne);
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9998;
    width: 100%;
}
.incoming-call{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.calling.darkmode{
    background-color: var(--SandyBrown);
}
.videoCall{
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100vh;
    max-width: 100vw;
    min-width: 250px;
    min-height: 150px;
}
.resize{
    position: absolute;
    right: -7px;
    bottom: -7px;
    transform: rotate(45deg);
    cursor: se-resize;
}
#localVideo{
    max-width: 300px;
    object-fit: contain;
}
.video-min-size{
    width: calc(100%);
    height: calc(100%);
}
#voiceArea{
    width: 100%;
    background-color: unset;
    color: var(--Black);
    padding: 3px;
    border: none;
}
.voiceStatus{
    float: right;
    margin: 10px 15px 0 0;
}
#send-input{
    height: 46.8px; 
}
.video-options{
    display: flex;
    position: absolute;
    bottom: 0;
    left: calc(50% - 70px);
    padding: 10px 15px;
    justify-content: space-between;
    width: 140px;
    z-index: 9999;
}
.image-massages{
    width: 60%;
    border-radius: 25px;
    max-width: 220px;
}
.with-text{
    border-radius: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px; 
}
.with-img{
    border-radius: 0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
@media screen and (max-width: 575px){
    .row.right-panel-active {
        transform: translateY(-48.5%);
    }
    .img-calling{
        margin-right: 0rem;
    }
    .calling-box{
        width: 60%;
        height: 30vh;
        position: absolute;
        top: 35%;
        left: 20%;
        min-width: unset;
    }
    .incoming-call,.incoming-call .personal-detail{
        flex-direction: column;
    }
    .incoming-call .option{
        justify-content: center;
    }
    .personal-detail-box{
        max-width: 110px; 
    }
}
